/Caja Registradora/build/
/Caja Registradora/nbproject/private/
/WhileDo/nbproject/private/
/WhileDo/build/
/Ejemplo Secuencial/nbproject/private/
/Ejemplo Secuencial/build/
/WebApplication1/nbproject/private/
/Arreglos/nbproject/private/
/Arreglos/build/
/Arrays/nbproject/private/
/Arrays/build/